@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Be+Vietnam+Pro:wght@400;600&family=Moon+Dance&family=Poppins&display=swap');
/*----------- Header Part ----------
----------------------------------*/
body{
    font-family: 'Poppins', sans-serif;
}
.first-section{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    height: 500px;
    width:100%;
    margin-bottom: 30px;
}
.header{
    margin: 2.63% 74.79% 95.79% 8.33%;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #3A3A3A;
    width: 243px;
    height: 52.2px;
    position: absolute;
}
/* --------------Main-Part---------
-------------------------------- */
}

.main-header{
    color: #3A3A3A;
    font-size: 52px;
    line-height: 70px;
    font-weight: 700;
    width: 582px;
    height: 133px;

}
.main-left{
    position: absolute;
    width: 582px;
    height: 270px;
    margin-top: 145px;
    margin-left: 95px;
}
.header-button{
    text-align: center;
    background-color: #E02C6D;
    margin-top: 16px;
    border: 10px solid #E02C6D;
    border-radius: 41px;
    font-size: 16px;
    font-weight: 700;
    color: #FFFFFF;
    text-decoration: none;
}
.img1{
    position: absolute;
    width: 420px;
    height: 400px;
    margin-top: 100px;
    margin-left: 700px;
}
/* ---------------Collections---------
-------------------------------------  */
.section-title{
    text-align: center;
    font-weight: 600;
    font-size: 29px;
    line-height: 70px;
    color: #3A3A3A;
}
.courses{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 20px;
}
.course .course-banner img{
    width: 300px;
    height: 256px;
}
.course-info{
    display: flex;
    align-items: center;
}
.fa-star{
    color: #FB8200;
    font-size: 12px
}
.fa-star-half{
    color: #FB8200;
    font-size: 12px;
}
.course{
    border: 5px solid lightgoldenrodyellow;
    border-radius: 5%;
    padding: 20px 0px 10px 20px;
    margin: 0px 20px;
    background-color: lightgrey;
}
.see-more{
    text-decoration: none;
    margin-left: 92%;
    text-align: right;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #E02C6D;
}
/* ----------------------
         Extra-Part 
----------------------- */
.Extra-part{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    background-color: #758283;
    border: 1px solid #758283 ;
    border-radius: 10px;
}
.Extra-details{
    margin-top: 200px;
}
.Second-button{
    text-align: center;
    background-color: #E02C6D;
    margin-top: 16px;
    border: 10px solid #E02C6D;
    border-radius: 41px;
    font-size: 15px;
    font-weight: 700;
    color: #FFFFFF;
    text-decoration: none;
}
/* ------------------------------
             Footer
------------------------------  */
footer{
    text-align: center;
    background-color: #0A0826;
    color: #FFFFFF;
    width: 100%;
    height: 239px;
}
.fab{
    color: white;
    margin: 0px 10px;
}
/* -------------------------------
       Media-Queries
--------------------------------  */

/*-----------------------------
       Mobile Devices 
 --------------------------- */
 @media only screen and (max-width:688px) {
     .courses{
         display: grid;
         grid-template-columns: repeat(1,1fr);
     }
     .first-section{
         display: grid;
         grid-template-columns: repeat(1,1fr);
     }
     .Extra-details{
         display: grid;
         grid-template-columns: repeat(1,1fr);
     }

     
 }