@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Be+Vietnam+Pro:wght@400;600&family=Moon+Dance&family=Poppins&display=swap');
/*----------- Header Part ----------
----------------------------------*/
body{
    font-family: 'Poppins', sans-serif;
}
.first-section{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    height: 500px;
    width: 600px;
    margin-bottom: 30px;
}
.header{
    margin: 2.63% 74.79% 95.79% 8.33%;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #3A3A3A;
    width: 243px;
    height: 52.2px;
    position: absolute;
}
/* --------------Main-Part---------
-------------------------------- */
}

.main-header{
    color: #3A3A3A;
    font-size: 52px;
    line-height: 70px;
    font-weight: 700;
    width: 582px;
    height: 133px;

}
.main-left{
    position: absolute;
    width: 582px;
    height: 270px;
    margin-top: 145px;
    margin-left: 95px;
}
.header-button{
    text-align: center;
    background-color: #E02C6D;
    position: absolute;
    width: 150px;
    height: 30px;
    margin-top: 16px;
    border: 2px solid #E02C6D;
    border-radius: 41px;
    font-size: 16px;
    font-weight: 700;
    color: #FFFFFF;
    text-decoration: none;
}
.img1{
    position: absolute;
    width: 420px;
    height: 400px;
    margin-top: 100px;
    margin-left: 700px;
}
/* ---------------Collections---------
-------------------------------------  */
.course .course-banner img{
    width: 300px;
    height: 256px;
}
.course-info{
    display: flex;
    align-items: center;
}
.fa-star{
    color: #FB8200;
    font-size: 12px
}
.fa-star-half{
    color: #FB8200;
    font-size: 12px;
}