@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Be+Vietnam+Pro:wght@400;600&family=Moon+Dance&family=Poppins&display=swap');
/*----------- Header Part ----------
----------------------------------*/
body{
    font-family: 'Poppins', sans-serif;
}
.header{
    margin-top: 3%;
    margin-left: 5%;
    margin-right: 5%;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: #3A3A3A;
    height: 50px;
    background-color: #75828315;
    padding-left: 2%;
    
}
/* --------------Main-Part---------
-------------------------------- */
.first-sec{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 1%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: #75828315;
    padding-left: 2%;

}
.First-head{
    color: #3A3A3A;
    font-weight: 700;
    font-size: 52px;
    line-height: 70px;
}
.First-pic{
    width: 440px;
    height: 414px;
    margin-left: 75px;
    
}
.first-button{
    text-decoration: none;
    border: 15px solid #E02C6D;
    border-radius: 41px;
    background-color:#E02C6D;
    color: white;
}

/* --------------------------------
           Transiton Part 
-------------------------------- */
.first-sec:hover .First-pic{
    transform: scale(1.5) rotate(360deg);
    transition: transform 5s ease-in-out ;
}


/* ---------------Collections---------
-------------------------------------  */
.container{
    margin-left: 5%;
    margin-right: 5%;
    background-color: #75828315;
}
.section-title{
    text-align: center;
    font-weight: 600;
    font-size: 29px;
    line-height: 70px;
    color: #3A3A3A;
}
.courses{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 20px;
   
}
.course .course-banner img{
    width: 300px;
    height: 256px;
}
.course-info{
    display: flex;
    align-items: center;
}
.fa-star{
    color: #FB8200;
    font-size: 12px
}
.fa-star-half{
    color: #FB8200;
    font-size: 12px;
}
.course{
    border: 5px solid lightgoldenrodyellow;
    border-radius: 5%;
    padding: 20px 0px 10px 20px;
    margin: 0px 20px;
    background-color: lightgrey;
}
.see-more{
    text-decoration: none;
    margin-left: 92%;
    text-align: right;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #E02C6D;
}
/* ----------------------
         Extra-Part 
----------------------- */
.Extra-part{
    
    display: grid;
    grid-template-columns: repeat(2,1fr);
    background-color: #75828315;
    border: 1px solid #758283 ;
    border-radius: 10px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
}
.Extra-details{
    margin-top: 100px;
    padding-left: 2%;
    padding-right: 5%;
}
.Extra-pic{
    width: 440px;
    height: 414px;
}
.Second-button{
    text-align: center;
    background-color: #E02C6D;
    margin-top: 16px;
    border: 10px solid #E02C6D;
    border-radius: 41px;
    font-size: 15px;
    font-weight: 700;
    color: #FFFFFF;
    text-decoration: none;
}
/* ------------------------------
             Footer
------------------------------  */
footer{
    text-align: center;
    background-color: #0A0826;
    color: #FFFFFF;
    height: 239px;
    margin-left: 5%;
    margin-right: 5%;
}
.fab{
    color: white;
    margin: 0px 10px;
}
/* -------------------------------
       Media-Queries
--------------------------------  */

/*-----------------------------
       Mobile Devices 
 --------------------------- */
 @media only screen and (max-width:688px) {
    main{
        width: 750px;
             }
    .first-sec{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        align-items: center;
        text-align: center;
    }
     .courses{
         display: grid;
         grid-template-columns: repeat(1,1fr);
     }
     .Extra-part{
         display: grid;
         grid-template-columns: repeat(1,1fr);
     }
     .Extra-details{
        margin-bottom: 20px;
        margin-top: 2px;
        margin-left: 30px;
        text-align: center;
     }
     .Extra-pic{
        width: 440px;
        height: 414px;
        margin-left: 75px;
     }
     .see-more{
        margin-left:80%;
        text-align: right;
     }
     footer{
        height: 239px;
        width: 700px;
        margin-left: 25px;
    
     }
     
 }
 /*-----------------------------
       Tablet 
 --------------------------- */
 @media only screen and (min-width:688px) and (max-width:992px) {
     main{
width: 600px;
     }

.first-sec{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        align-items: center;
        text-align: center;
    }
     .courses{
         display: grid;
         grid-template-columns: repeat(2,1fr);
     }
     .Extra-part{
         display: grid;
         grid-template-columns: repeat(1,1fr);
         width: 730px;
     }
     .Extra-details{
        margin-bottom: 20px;
        margin-top: 2px;
        margin-left: 30px;
        text-align: center;
     }
     .Extra-pic{
        width: 440px;
        height: 414px;
        margin-left: 160px;
     }
     .see-more{
        margin-left:80%;
        text-align: right;
     }
     
 }
     
 }